<p-fieldset legend="Cadastro de Atividades">
    <div class="p-fluid">
        <form #form (ngSubmit)="uploadComDados()">

            <div class="p-col-12 p-md-6">
                <label>Nome</label>
                <input type="text" pInputText #nome name="nome" [(ngModel)]="atividade.nome">
            </div>

            <div class="p-col-12 p-md-6">
                <label>Faixa Etárias</label>

                <!-- <p-dropdown name="cidades" placeholder="Selecione" [(ngModel)]="faixaEtariaSelecionada.id"
                     (change)="onSelect($event.target.value)" id="sel1" required>
                    <option value="0">--Selecione--</option>
                    <option *ngFor="let faixa of faixaEtaria" value= {{faixa.id}}> {{faixa.nome}} </option>
                </p-dropdown> -->

                <select class="form-control" [(ngModel)]="faixaEtariaSelecionada.id" (change)="onSelect($event.target.value)" id="sel1" name="firt">
                    <!-- <option value="0">--Selecione--</option> -->
                    <option *ngFor="let faixa of faixaEtaria" value= {{faixa.id}}> {{faixa.nome}} </option>
                 </select>

                 <label>Campo de experiências</label>
                    <select class="form-control" [(ngModel)]="faixaCampoEx.id" (change)="onSelect($event.target.value)" id="sel2" name="firts">
                        <!-- <option value="1">--Selecione--</option> -->
                        <option *ngFor="let campo of campoEx" value= {{campo.id}}> {{campo.nome}} </option>
                    </select>

                    <label>Objetivos de aprendizagem e desenvolvimento</label>
                    <select class="form-control">
                      <!-- <option *ngIf='faixaEtariaSelecionada.id == 0 ' value="0">--Selecione--</option> -->
                      <option *ngFor="let oade of oad" value= {{oade.id}}> {{oade.nome}} </option>
                    </select>

            </div>

            <!-- <div class="p-col-12 p-md-6">
                <label>Campo de experiências</label>
                <p-dropdown name="cidades" placeholder="Selecione" [ngClass]=""
                    required></p-dropdown>
            </div>

            <div class="p-col-12 p-md-6">
                <label>Objetivos de aprendizagem e desenvolvimento</label>
                <p-dropdown name="cidades" placeholder="Selecione" [ngClass]=""
                    required></p-dropdown>
            </div>

            <div class="p-col-12 p-md-6">
                <label>TAG</label>
                <input type="text" pInputText #tag name="tag" [(ngModel)]="atividade.tag">
            </div>
        -->

            <div class="p-col-12 p-md-6">
                <p-fileUpload mode="advanced" #arquivo name="arquivo" url="{{apiUploadUrl}}"
                    [showUploadButton]="false" chooseLabel="Adicionar" cancelLabel="Cancelar"></p-fileUpload>
                </div>

            <div class="p-col-12 p-md-6">
                <button pButton type="button" label="Salvar" icon="pi pi-check" (click)="uploadComDados()"></button>
            </div>
        </form>
    </div>
</p-fieldset>

<div class="p-col-12 p-md-6">
    <button pButton type="button" label="Voltar" icon="pi pi-check" routerLink=""></button>
</div>

