<div class="card">
  <p-dataView #dv [value]="atividades" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
      <ng-template pTemplate="header">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
                  <!-- <input type="search" pInputText placeholder="Pesquisar" (input)="dv.filter($event.target.value)"> -->
                  <input type="search" pInputText placeholder="Pesquisar">
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
      </ng-template>
      <ng-template let-atividade pTemplate="listItem">
          <div class="p-col-12">
            <div class="product-list-item">
              <div class="product-list-detail">
                 <i class="pi pi-tag product-category-icon"></i><span class="product-category"> {{atividade.tag}}</span>
                 <div class="product-name"> {{atividade.nome}}</div>
              </div>
              <img [src]=converteImagemBase64ParaHtml(atividade.arquivo) style="width: 200px; height: 200px; object-fit: cover;"/>
              </div>
          </div>
        </ng-template>

      <ng-template let-atividade pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
              <div class="product-grid-item card">
                  <div class="product-grid-item-top">
                      <div>
                          <i class="pi pi-tag product-category-icon"></i>
                          <span class="product-category"> {{atividade.nome}}</span>
                      </div>
                      <!-- <span [class]="'product-badge status-' + atividade.inventoryStatus.toLowerCase()">{{atividade.inventoryStatus}}</span> -->
                  </div>
                  <div class="product-grid-item-content">
                      <img [src]=converteImagemBase64ParaHtml(atividade.arquivo) style="width: 300px; height: 300px; object-fit: cover;"/>
                      <div class="product-name">{{"Atividade: " + atividade.nome}}</div>
                      <p-button type="button" icon="pi pi-file" styleClass="p-button-text" (click)="gerarPDF(atividade)"></p-button>
                      <p-button type="button" icon="pi pi-trash" styleClass="p-button-text" (click)="deletarCadastro(atividade.id)"></p-button>
                  </div>
                  <div class="product-grid-item-bottom">
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>

<div class="p-field p-col-6 p-md-3">
    <p-button label="Nova Atividade" icon="pi pi-plus" routerLink="/atividade"></p-button>
</div>

<div class="p-field p-col-6 p-md-3">
    <p-button label="Teste" icon="pi pi-plus" (click)="teste()"></p-button>
</div>
