<nav class="navbar">

  <div class="container">
   <div class="ui-g">
     <div class="ui-g-12">
      <a href="javascript:;" class="navbar-toggle"><i class="fa fa-bars"></i></a>

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <i class="p-toolbar-separator pi pi-bars p-mr-2" style="vertical-align: middle"></i>
                <p-button label="Inicio" routerLink="" icon="pi pi-check" class="p-mr-2"></p-button>
                <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button> -->


                <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton> -->
            </div>

            <div class="p-toolbar-group-right">
                <!-- <p-button icon="pi pi-search" class="p-mr-2"></p-button> -->
                <!-- <p-button icon="pi pi-calendar" styleClass="p-button-success p-mr-2"></p-button> -->
                <!-- <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button> -->
                <button type="button" pButton icon="pi pi-power-off" style="margin-left:.25em"></button>
            </div>
        </p-toolbar>

      </div>
    </div>
  </div>

</nav>
