<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <!-- <button pButton pRipple [label]="" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="cabecalho" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gerenciamento de Cabeçalho</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="inventoryStatus">Nome da Escola <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th pSortableColumn="rating">Turma <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="name">Professora <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Professora <p-sortIcon field="name"></p-sortIcon></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cabecalho>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cabecalho"></p-tableCheckbox>
                </td>
                <td>{{cabecalho.nomeEscola}}</td>
                <td>{{cabecalho.turma}}</td>
                <td>{{cabecalho.professora}}</td>
                <td>
                    <img [src]=converteImagemBase64ParaHtml(cabecalho.logoEscola) style="width: 100px; height: 100px; object-fit: cover;"/>
                </td>
                <!-- <td><p-rating [ngModel]="cabecalho.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                <td><span [class]="'cabecalho-badge status-'">{{cabecalho.inventoryStatus}}</span></td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(cabecalho)"></button> -->
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(cabecalho.id)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletarCabecalho(cabecalho.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{cabecalho ? cabecalho.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="name">Professora</label>
            <input type="text" pInputText id="professora" [(ngModel)]="cabecalho.professora" required autofocus />
            <!-- <small class="p-invalid" *ngIf="submitted && !cabecalho.name">Name is required.</small> -->
        </div>

        <div class="p-field">
            <label>Data</label>
            <p-calendar type="text" [locale]="pt" name="data" dateFormat="dd/mm/yy" #data [(ngModel)]="cabecalho.data" required></p-calendar>
            <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>

        <div class="p-field">
            <label for="name">Turma</label>
            <input type="text" pInputText id="turma" [(ngModel)]="cabecalho.turma" required autofocus />
            <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>

        <div class="p-field">
            <label>Logo da Prefeitura</label>
            <p-fileUpload mode="advanced" #logoPrefeitura name="logoPrefeitura" url="{{apiUploadUrl}}"
                [showUploadButton]="false" chooseLabel="Adicionar" cancelLabel="Cancelar"></p-fileUpload>
        </div>

        <div class="p-field">
            <label>Logo da Escola</label>
            <p-fileUpload mode="advanced" #logoEscola name="logoEscola" url="{{apiUploadUrl}}"
                [showUploadButton]="false" chooseLabel="Adicionar" cancelLabel="Cancelar"></p-fileUpload>
        </div>

        <h3>Dados da Escola</h3>

        <div class="p-field">
            <label for="name">Nome da Escola</label>
            <input type="text" pInputText id="nomeEscola" [(ngModel)]="cabecalho.nomeEscola" required autofocus />
            <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Logradouro</label>
                <input type="text" pInputText id="logradouro" [(ngModel)]="cabecalho.logradouro" required autofocus />
                <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>

            <div class="p-field p-col">
                <label for="name">Tel</label>
                <input type="text" pInputText id="tel" [(ngModel)]="cabecalho.tel" required autofocus />
                <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Cep</label>
                <input type="text" pInputText id="cep" [(ngModel)]="cabecalho.cep" required autofocus />
                <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>

            <div class="p-field p-col">
                <label for="name">Email</label>
                <input type="text" pInputText id="email" [(ngModel)]="cabecalho.email" required autofocus />
                <!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="salvar()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
